<ion-view class="homeView">
  <ion-nav-buttons side='primary'>
    <button class="button icon icon-left" nav-direction="back" ui-sref="profile">
      <i class="icon ion-chevron-left"></i>
      My Profile
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-assertive" ng-click="logout()">
      Logout
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    {{ user.name ? "Hey there, " + user.name + "!" : "Hey you!" }}
  </ion-nav-title>

  <ion-slide-box>
    <ion-slide class="box teacherSlide">

      <div class="list card">
        <div class="card">
          <h1>Are you teaching today?</h1>
          <h2>Start a new class instance or view your stats page.</h2>
          <div class="item item-text-wrap">
            <div class="row">
              <div class="col-50 col-offset-25">
                <button class="button button-full button-large button-positive item-icon-left" nav-direction="back" ng-click="startNewClass()">
                  <i class="icon ion-chevron-left"></i>
                  Start A Class
                </button>
              </div>
            </div>
          </div>
          <div class="item">

            <h4>-- or --</h4>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-50 col-offset-25">
                <button class="button button-full button-large button-positive item-icon-right" nav-direction="forward" ui-sref="teacher-stats">
                  View Stats
                  <i class="icon ion-chevron-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>

    </ion-slide>
    <ion-slide class="box studentSlide">
      <div class="row row-center">
        <div class="col col-center text-center">
          <h1>I'm A Student</h1>
          <br>
          <h3>Enter the class ID number provided by your teacher.</h3>
        </div>
      </div>
      <div class="row row-center">
        <div class="col-50 col-offset-25">
          <div class="list">
            <label class="item item-input">
              <input ng-model="classID" type="text" placeholder="Class ID">
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-50 col-offset-25">
          <button class="button button-full button-balanced" ng-click="goToClass()">Join!</button>
        </div>
      </div>
    </ion-slide>
  </ion-slide-box>

</ion-view>
