<ion-view class="homeView">
  <ion-nav-buttons side='primary'>
    <button class="button icon icon-left" nav-direction="back" ui-sref="profile">
      <i class="icon ion-chevron-left"></i>
      My Profile
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-assertive" ng-click="logout()">
      Logout
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    {{ user.name ? "Hey there, " + user.name + "!" : "Hey you!" }}
  </ion-nav-title>

  <ion-slides class="has-header" options="options" slider="data.slider">

    <ion-slide-page class="has-header box teacherSlide">
        <div class="list card" ng-show="user">
          <div class="card text-center">
            <div ng-hide="user.teacher">
              <h1>Are you teaching today?</h1>
              <p>If not, swipe right.</p>
              <p>Otherwise, start a new class instance or view your stats page.</p>
            </div>
            <div ng-show="user.teacher">
              <h1>What's Up?</h1>
              <p>Head back to class or view your stats page.</p>
            </div>
            <div class="item item-text-wrap">
              <div class="row">
                <div class="col-80 col-offset-10">
                  <button class="button button-full button-large button-positive item-icon-left item-icon-right" ng-click="startNewClass()" ng-hide="user.teacher">
                    <i class="icon ion-star"></i>
                    Start A Class
                    <i class="icon ion-star"></i>
                  </button>
                  <button class="button button-full button-large button-positive item-icon-left item-icon-right" nav-direction="forward" ui-sref="teacher-classroom({classID: user.teacher})" ng-show="user.teacher">
                    <i class="icon ion-star"></i>
                    Back To Class
                    <i class="icon ion-star"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="row">
                <div class="col-80 col-offset-10">
                  <button class="button button-full button-large button-positive item-icon-left item-icon-right" nav-direction="forward" ui-sref="teacher-stats">
                    <i class="icon ion-arrow-graph-up-left"></i>
                    View Stats
                    <i class="icon ion-arrow-graph-up-right"></i>
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>

    </ion-slide-page>

    <ion-slide-page class="has-header box studentSlide" ng-hide="user.teacher">

      <div class="list card">
        <div class="card text-center">
          <div ng-hide="user.class">
            <h1>Are you a student today?</h1>
            <p>If not, swipe left.</p>
            <p>Otherwise, enter the class ID number provided by your teacher.</p>
          </div>
          <div ng-show="user.class">
            <h1>What's Up?</h1>
            <p>Head back to class!</p>
          </div>
          <div class="item item-text-wrap">
            <div class="row">
              <div class="col-80 col-offset-10">
                <div class="list list-inset" ng-hide="user.class">
                  <label class="item item-input">
                    <input ng-model="studentClassID" type="text" placeholder="Class ID">
                  </label>
                </div>
                <h2 ng-show="user.class">Your Class ID: {{user.class.id}}</h2>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="row">
              <div class="col-80 col-offset-10">
                <button ng-hide="user.class" class="button button-full button-large button-positive" ng-click="goToClass(studentClassID)">Join!</button>
                <button ng-show="user.class" class="button button-full button-large button-positive" ng-click="rejoinClass()">Rejoin!</button>
              </div>
            </div>
          </div>

        </div>
      </div>

    </ion-slide-page>

  </ion-slides>

</ion-view>
