<ion-view class="studentClassroom">
  <ion-nav-buttons side='primary'>
    <button class="button icon icon-left" nav-direction="back" ui-sref="home">
      <i class="icon ion-chevron-left"></i>
      Home
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-assertive" ng-click="leaveClass()">
      Leave Class
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
      Class #{{classID}}
  </ion-nav-title>


  <div class="bar bar-subheader button-bar" ng-show="displayHelp">
    <button ng-click="helpSomeone()" class="helpButton button button-balanced">I Can Help</button>
  </div>
  <ion-content class="has-header has-subheader">
    <div class="helpButtonWrapper">
      <button ng-click="needHelp()" nav-direction="back" ng-style="{width: needHelpButton.width, height: needHelpButton.width, margin: needHelpButton.margin}" class="needHelpButton button button-large button-assertive">I Don't Get It</button>
    </div>
    <div class="card">
      <div class="item">
        <div class="row text-center">
          <div class="col col-center">
            <h4>My Total Points:</h4>
            <p>{{user.points}}</p>
          </div>
          <div class="col col-center">
            <h4>Points This Class:</h4>
            <p>{{classroom.students[user.class.key].points}}</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
